<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClassesSubscriptions_mapper">
    <select id="get" resultMap="ClassesSubscriptions_map">
        SELECT *
        FROM ClassesSubscriptions
        LEFT JOIN Subscriptions
        ON Subscriptions.id=ClassesSubscriptions.subscriptionId
        WHERE ClassesSubscriptions.id=#{id}
    </select>
    <select id="getAll" resultMap="ClassesSubscriptions_map">
        SELECT *
        FROM ClassesSubscriptions
        LEFT JOIN Subscriptions
        ON Subscription.id=ClassesSubscriptions.subscriptionId
    </select>
    <delete id="delete">
        DELETE FROM ClassesSubscriptions
        WHERE id=#{id}
    </delete>
    <insert id="create">
        INSERT INTO ClassesSubscriptions(id, numberClasses)
        VALUES(#{id}, #{numberClasses})
    </insert>
    <update id="update">
        UPDATE ClassesSubscriptions
        SET numberClasses=#{numberClasses}
        WHERE id=#{id}
    </update>
    <resultMap id="ClassesSubscriptions_map"
               type="com.java.automation.lab.fall.antonyuk.core22.domain.subscription.ClassesSubscription"
               autoMapping="false">
        <id property="id" column="id"/>
        <collection property="stalls" resultMap="Stalls_mapper.Stalls_map"/>
    </resultMap>
</mapper>