<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClientsContracts_mapper">
    <select id="get" resultMap="ClientsContracts_map">
        SELECT *
        FROM ClientsContracts
        LEFT JOIN SubscriptionElements
        ON Subscriptions.id=SubscriptionElements.subscriptionId
        WHERE ClientsContracts.id=#{id}
    </select>
    <select id="getAll" resultMap="ClientsContracts_map">
        SELECT *
        FROM ClientsContracts
        LEFT JOIN SubscriptionElements
        ON Subscriptions.id=SubscriptionElements.subscriptionId
    </select>
    <delete id="delete">
        DELETE FROM ClientsContracts
        WHERE id=#{id}
    </delete>
    <insert id="create">
        INSERT INTO ClientsContracts(id)
        VALUES(#{id}})
    </insert>
    <update id="update">
        UPDATE ClientsContracts
        WHERE id=#{id}
    </update>
    <resultMap id="ClientsContracts_map"
               type="com.java.automation.lab.fall.antonyuk.core22.domain.subscription.ClientsContracts"
               autoMapping="false">
        <id property="id" column="id"/>
        <collection property="subscriptionMap" resultMap="Stalls_mapper.Subscriptions_map"/>
    </resultMap>
</mapper>