<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Stables_mapper">
    <select id="get" resultMap="Stables_map">
        SELECT *
        FROM Stables
        LEFT JOIN Stalls
        ON Stalls.id = Stables.stallId
        WHERE Stables.id=#{id}
    </select>
    <select id="getAll" resultMap="Stables_map">
        SELECT *
        FROM Stables
        LEFT JOIN Stalls
        ON Stalls.id = Stables.stallId
    </select>
    <delete id="delete">
        DELETE FROM Stables
        WHERE id=#{id}
    </delete>
    <insert id="create">
        INSERT INTO Stables(freeStallsCount, stallId) VALUES
        <foreach collection="stalls" item="stall" index="index" open="(" separator="),("  close=")">
            #{freeStallsCount},
            #{stall.id}
        </foreach>
    </insert>
    <update id="update">
        UPDATE Stables
        SET freeStallsCount=#{freeStallsCount}
        WHERE id=#{id}
    </update>
    <resultMap id="Stables_map"
               type="com.java.automation.lab.fall.antonyuk.core22.domain.building.Stable"
               autoMapping="false">
        <id property="id" column="id"/>
        <result property="freeStallsCount" column="freeStallsCount"/>
        <collection property="stalls" column="stallId" resultMap="Stalls_mapper.Stalls_map"/>
    </resultMap>
</mapper>