<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Stables_mapper">
    <select id="get" resultMap="Stables_map">
        SELECT *
        FROM Stables
        LEFT JOIN Stalls
        ON Stalls.id = Stables.stallId
        WHERE Stables.id=#{id}
    </select>
    <select id="getAll" resultMap="Stables_map">
        SELECT *
        FROM Stables
        LEFT JOIN Stalls
        ON Stalls.id = Stables.stallId
    </select>
    <delete id="delete">
        DELETE FROM Stables
        WHERE id=#{id}
    </delete>
    <insert id="create" parameterType="java.util.List">
<!--        INSERT ALL-->
<!--        <foreach collection="stalls" item="stall" index="index" >-->
<!--            INTO Stalls(square, price, isFree) VALUES(#{stall.square}, #{stall.price}, #{stall.isFree});-->
<!--        </foreach>-->
<!--&lt;!&ndash;        INSERT INTO Stables(freeStallsCount, stallId) VALUES(#{freeStallsCount}, #{stall.id})&ndash;&gt;-->
        INSERT INTO Stables (freeStallsCount) VALUES (#{freeStallsCount});
    </insert>
    <update id="update">
        UPDATE Stables
        SET freeStallsCount=#{freeStallsCount}
        WHERE id=#{id}
    </update>
    <resultMap id="Stables_map"
               type="com.java.automation.lab.fall.antonyuk.core22.domain.building.Stable"
               autoMapping="false">
        <id property="id" column="id"/>
        <result property="freeStallsCount" column="freeStallsCount"/>
        <collection property="stalls" column="stallId" javaType="java.util.Set" resultMap="Stalls_mapper.Stalls_map"/>
<!--        <association property="stalls" column="stallId" javaType="java.util.Set">-->
<!--            <id property="id" column="id"/>-->
<!--            <result property="square" column="square"/>-->
<!--            <result property="price" column="price"/>-->
<!--            <result property="isFree" column="isFree"/>-->
<!--     </association>-->
    </resultMap>
</mapper>